
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="assets/css/main.css" />
</head>
<script src="http://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.2/ckeditor.js"></script>
<body>

  <%= image_tag("kitten.jpeg")%>
<div class="flex-container1">
  <ul>  
    <a href="../">Home</a>
    <a href="../articles/new">New</a>
  </ul>

</div>

<h1 style="text-align:center; color:blue">Listing articles</h1>
 




<table>
  <tr style="background-color: #d4ffaa">
    <th>Title</th>
    <th>Content</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td style="background-color: #9eefec" >
        <strong><%= article.title %></strong>
        <p style="font-size:11px"><%= article.created_at.strftime('%b %d, %Y') %> <br> by Thanh Tran Duc | Comments (<%=article.comments.count%>)</p>
      </td>
      <td style="background-color:#fcefef"><%= article.text.truncate(358).html_safe() %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
       <td><%= link_to 'Delete', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>




</body>
</html>














