<!DOCTYPE html>
<html>
<head>

</head>
<body>

<div class="flex-container">
<header>
  <h1>My Blog</h1>
</header>

<nav class="nav">
<ul>
	<li><a href="../">Home</a></li>
	<%= link_to 'Edit', edit_article_path(@article) %> </br>
	<%= link_to 'Back', articles_path %>
  
  
</ul>
</nav>

<article class="article">
  <h1><%= @article.title %></h1>
  <p><%= raw @article.text %></p>
  <h4 style="color:blue">Comments (<%=@article.comments.count%>)</h4>
<%= render @article.comments %>
 
<h4 style="color:blue">Add a comment:</h4>
<%= render 'comments/form' %>
 
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
  
</article>

<footer>My Blog</footer>
</div>



</body>
</html>






